*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: dsFontBold;
    src: url('../fonts/OptimusPrincepsSemiBold.ttf');
}

@font-face {
    font-family: dsFont;
    src: url('../fonts/OptimusPrinceps.ttf');
}
body{
    margin: 0;
    padding: 0;
    
    font-family: dsFontBold;
}

.header{
    padding: 3em;
    text-align: center;
    font-size: larger;
    overflow: hidden;
    color: white;
}
.header h1{
    font-size: 50px;
    -webkit-text-stroke: 0.5px #000000;
    font-family: dsFont;
}

.foto1{
    background-image: url('../img/fondo.png');
    position: relative;
    background-position: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 40em;
}

.container{
    margin: 2em auto;
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 15px;
    padding: 2em;
    font-size: 20px;
    width: 900px;
}

.container h2{
    text-align: center;
    margin-bottom: 1em;
}

.container p{
    font-family: dsFont;
}

@keyframes efectoBlur {
    0%{
        opacity: 0;
        filter: blur(10px);
    }

    100%{
        opacity: 1;
        filter: blur(0px);
    }
}

.button-6 {
    font-family: dsFont;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 25px;
    justify-content: center;
    line-height: 1;
    margin-top: 1em;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-right: 1em;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
a{
    text-decoration: none;
    color: black;
}
.boton{
    margin-left: 2em;
    vertical-align: middle;
    display: flex;
    margin-top: 7em;
    padding-bottom: 5em;
    padding-top: 5em;
}

.boton button{
    margin-bottom: 1em;
}

.foto2{
    text-align: center;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../img/fondo4.jpg');
    min-height: 40em;
}
.letrero{
    padding: 2em;
    color: white;
    font-size: 20px;
}
.letrero h1{
    margin-top: 2em;
    font-size: 50px;
    -webkit-text-stroke: 0.5px #000000;
   
}
iframe{
    margin: 7em auto;
    padding: 3em;
    width: 700px;
    height: 400px;
}
@media screen and (max-width: 767px) {
    .foto1{
        background-image: none;
    }
    .foto2{
        background-image: none;
    }
    body{
        background-image: url(../img/fondo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }
    iframe{
        width: 325px;
        height: 190px;
        margin: 0;
        margin-top: 1em;
        padding: 0;
    }
    .container{
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .boton{
        margin-left: 2em;
        vertical-align: middle;
        display: flex;
        margin-top: 3em;
    }
    .letrero h2{
        margin-top: 0;  
        margin-bottom: 2em;
    }
}
